<!DOCTYPE html>
<html>
<head>
<title>Home</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js" type="text/javascript"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Dipesh Jindal. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="./img/my_img.jpg">
    </div>
    {{>footer}}
</body>

</html>